.recipe-detail-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.recipe-detail-item{
    padding: 20px;
}
h3{
    text-align: center;
    background-color: #0e7fff;
}

@media screen and (min-width: 500px){
    .recipe-detail-group{
        flex-direction: row;
        justify-content: space-between;
    }
    .recipe-detail-item{
        justify-content: space-around;
    }
}