.link {
    padding: 5px;
    text-decoration: underline;
}
.nav-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-item{
    padding: 0px;
    margin: 0px;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #86bfff;
}
a:active{
    color: black;
}

@media screen and (min-width: 500px){
    link{
        margin: 5px;
    }
    .nav-group{
        flex-direction: row;
    }
}